<section class="container footer-no-padding">
    <div class="footer-divide"></div>
    <footer>
        <div class="outer">
            <div id="footer-info" class="inner">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
                Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a> on <a href="https://angularjs.org/">AngularJS</a>
            </div>
        </div>
    </footer>
</section>
