<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <section class="content">
      <section class="container">
          <section data-ui-view></section>
      </section>
  </section>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
</body>
</html>